* {
  background-color: lab(0% 0 0)
}
.ملاحظه {
  color: red
}
.نص-الملاحظه, 
.نص, 
.اعتذار, 
.النهايه,
.التعب
{
  color: white
}
.العنوان {
  color: hwb(166 0% 0%)
}
.الاجداد {
  color: green
}
.ابي,
.امي,
.انا,
.عيلتي {
  color:hwb(235 0% 0%)
}
.عيلة-محمد {
  color:hwb(57 0% 0%)
}
.عيلة-مصطفى {
  color: hwb(202 76% 0%)
}
.عيلة-احمد {
  color: red
}